/* responsive 1200px = 75rem  */
@media screen and (max-width:75rem) {
    header{
        width: 90%;
    }
    main{
        max-width: 90%;
    }
}


/* responsive 1024px = 64rem  */
@media screen and (max-width:64rem) {

    html{
        font-size: 80%;
    }
    .feature-content h2{
        font-size: 2rem;
    }
}
/* responsive 768px = 48rem  */
@media screen and (max-width:48rem) {
    html{
        font-size: 70%;
    }

    .menu{
        display: block;
    }

    nav ul {
        display: none;
    }
    
    .hero{
        flex-direction: column
    }

    .hero-content{
        order: 2;
        text-align: center ;
    }
    .hero-image{
        background-position: center;
        text-align: center;
    }

    .sponsor{
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        place-items: center;
        border: none;
    }

    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* responsive 576px = 36rem  */
@media screen and (max-width:36rem) {
    html{
        font-size: 60%;
    }

    .products{
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-container{
        flex-direction: column;
    }
    
}
